body{
 color: #555;
 background-color: #5B9EED;
}

#list-wrapper{
 
 width: 90%;
 max-width: 400px;
 margin: 30px auto;
}

#list{
 background-color: #fff;
 list-style: none;
 margin: 0;
 padding: 15px;
 border-radius: 2px;
 box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}



.list-item{
 display: flex;
 padding: 10px 5px;
}

#list .list-item:not(:last-child) {
 border-bottom: 1px solid #eee;
}

.list-item_img{
 flex-shrink: 0;
 height: 80px;
}

.list-item_img >img{
 width: 80px;
 height: 80px;
 border-radius: 50%;
}

.list-item_content{
 flex-grow: 1;
 padding: 0 20px;
}

.list-item_content h3 {
 margin: 0;
 font-size: 18px;
 margin-top: 15px;
}

.list-item_content p{
 margin-top: 5px;
 color: #AAA;
 margin-bottom: 0;
}


